.editable {
	border: none;
}

table tbody th {
	color: #222222;
	text-shadow: 0 1px 0 #F3F5F8;
	background-color: #DDDFE1;
	border-color: #C2C3C4;
	border-top: 5px #C2C3C4;
	border-right: 5px #C2C3C4;
	}

.banner {
	margin: auto;
	display: block;
}
/*
#left-menu {
	float : left;
	list-style: none;
	margin: 10px 10px 30px 10px;
	border: 2px solid;
	border-radius: 10px;
	padding: 40px 5px 100px 5px;
}

#left-menu a {
	margin-top: 20px;	
	color: #2677C9;
	text-decoration: none;
}*/